@page

@model PostsModel
@{
}

@if (!string.IsNullOrEmpty(Model.Post?.Amount.ToString()))
{
    <div class="alert alert-success">Successfully posted @Model.Post.Amount</div>
}

<div id="postsform">
    <hr />
    <div>
        <form asp-page="Post" method="post" style="margin-bottom:20px">
            <div id="postsinput">
                <label asp-for="Post.Amount" style="float:left">Amount</label>
                <input asp-for="Post.Amount" />
                <span asp-validation-for="Post.Amount" id="inputvalidation"></span>
            </div>
            <div id="postsinput">
                <label asp-for="Post.Description" style="float:left">Description</label>
                <input asp-for="Post.Description" />
                <span asp-validation-for="Post.Description" id="inputvalidation"></span>
            </div>
            <div>
                <button type="button" class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
    <hr style="margin-top:10px" />
</div>

<div id="postslist">
    @foreach (var post in Model.postsList)
    {
        <div id="postsdiv"><h3 id="post" style="background-color:aqua;">@post.Amount</h3></div>
    }
</div>

