@page

@model PostsModel
@{
}

@if (!string.IsNullOrEmpty(Model.Post?.Amount.ToString()))
{
    <div class="alert alert-success">Successfully posted @Model.Post.Amount</div>
}

<div id="postswrapper">
    <div id="postsform">
        <form asp-page="Post" id="asppostpage" method="post">
            <div id="postsinput">
                <label asp-for="Post.Amount" id="postlabel">Amount</label>
                <input asp-for="Post.Amount" id="postinput"  />
                <span asp-validation-for="Post.Amount" id="inputvalidation"></span>
            </div>
            <div id="postsinput">
                <label asp-for="Post.Description" id="postlabel">Description</label>
                <input asp-for="Post.Description" id="postinput"/>
                <span asp-validation-for="Post.Description" id="inputvalidation"></span>
            </div>
            <div >
                <button type="submit" class="btn btn-success" style="margin-top:10px;">Add</button>
            </div>
        </form>
    </div>
    <hr style="margin-top:10px" />
</div>

<div id="postslist">
    @foreach (var post in Model.postsList)
    {
        <div id="postsdiv">
            <a id="post" asp-page="PostInfo" asp-route-id="@post.Id">@post.Amount</a> 

        </div>
    }
</div>

